<section id="features" class="section-content main-background-color">
		<div class="container padding-top-50 padding-bottom-50">
			<div class="row">
				<div class="col-lg-12">
                    <a href="http://smartcityexhibition.it/it/news/data-academy-sce2015-open-data-citt%C3%A0-competenze-fare-e-riusare" target="_blank">
	               <img width="100%" src="media/img/data_academy_1.gif" alt="">
                    </a>
                </div>
            </div>
        </div>
</section>