		<section id="contact" class="section-content secondary-background-color">
			<img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">

			<div id="map-canvas"></div>
		</section>

		<section class="section-content main-background-color">
			<img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">

			<div class="container padding-top-50 padding-bottom-100">
				<div class="row">
					<div class="col-lg-12">

						<h1 class="text-center">Contact.</h1>
						<hr class="margin-bottom-50">

						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="text-center">
								<a href="{{ site.contact.twitter }}" target="_blank">
									<i class="fa fa-3x fa-twitter text-brand-main-color margin-top-20 margin-bottom-20"></i>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="text-center">
								<a href="mailto:{{ site.contact.email_address }}" class="text-brand-main-color">
								<i class="fa fa-3x fa-envelope-o text-brand-main-color margin-top-20 margin-bottom-20"></i>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4">
							<div class="text-center">
								<a href="{{ site.contact.facebook }}" target="_blank">
								<i class="fa fa-3x fa-facebook-square text-brand-main-color margin-top-20 margin-bottom-20"></i></a>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-4">
							<div class="text-center">
								<a href="{{ site.contact.googleplus }}" target="_blank">
								<i class="fa fa-3x fa-google-plus text-brand-main-color margin-top-20 margin-bottom-20"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</section>		